<div id="<%= dom_id sample %>">
  <p>
    <strong>Sample pack:</strong>
    <%= sample.sample_pack_id %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= sample.name %>
  </p>

  <p>
    <strong>Key:</strong>
    <%= sample.key %>
  </p>

  <p>
    <strong>Bpm:</strong>
    <%= sample.bpm %>
  </p>

</div>
