<div class="navbar bg-base-100">
  <div class="flex-1">
    <%= link_to user_signed_in? ? sample_packs_path : root_path, class: "btn btn-ghost normal-case text-xl" do %>
      Sampl
      <img src="https://flowbite.com/docs/images/logo.svg" class="h-6 mx-3 sm:h-9" alt="Splice Logo" />
    <% end %>
  </div>
  <div class="flex-none">
    <ul class="menu menu-horizontal px-1">
      <% if user_signed_in? && !current_user.artist %>
        <li><%= link_to "Liked Samples", likes_path, class: "prose prose-gray" %></li>
        <li><a class="prose">Downloads</a></li>
        <li tabindex="0">
          <a class="prose">
            Account
            <svg class="fill-current" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24"><path d="M7.41,8.58L12,13.17L16.59,8.58L18,10L12,16L6,10L7.41,8.58Z"/></svg>
          </a>
          <ul class="p-2 bg-base-100">
            <li><a class="prose">Profile</a></li>
            <li><a class="prose">Artist?</a></li>
            <li><a class="prose">About Us</a></li>
            <li><a class="prose">Contact</a></li>
          </ul>
        </li>
        <li>
          <%= link_to "Log Out", destroy_user_session_path, method: :delete, data: { turbo_method: :delete }, class: "prose" %>
        </li>
      <% elsif user_signed_in? && current_user.artist %>
        <li>
          <%= link_to "Create Pack", new_sample_pack_path, class: "prose" %>
        </li>
        <li>
          <%= link_to "Liked Samples", likes_path, class: "prose prose-gray" %>
        </li>
        <li tabindex="0">
          <a>
            Menu
            <svg class="fill-current" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24"><path d="M7.41,8.58L12,13.17L16.59,8.58L18,10L12,16L6,10L7.41,8.58Z"/></svg>
          </a>
          <ul class="p-2 bg-base-100">
            <li><a>About Us</a></li>
            <li><a>Contact</a></li>
          </ul>
        </li>
        <li>
          <%= link_to "Log Out", destroy_user_session_path, method: :delete, data: { turbo_method: :delete }, class: "prose" %>
        </li>
      <% else %>
        <li>
          <%= link_to "Log In", new_user_session_path, class: "prose prose-gray" %>
        </li>
        <li tabindex="0">
          <a class="prose">
            Menu
            <svg class="fill-current" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24"><path d="M7.41,8.58L12,13.17L16.59,8.58L18,10L12,16L6,10L7.41,8.58Z"/></svg>
          </a>
          <ul class="p-2 bg-base-100">
            <li><a>About Us</a></li>
            <li><a>Contact</a></li>
          </ul>
        </li>
        <li>
          <%= link_to "Sign Up", new_user_registration_path, class: "prose prose-gray" %>
        </li>
      <% end %>
    </ul>
  </div>
</div>