<nav class="flex gap-8 space-between p-2 items-center">
  <div class="flex-1">
    <h1 class="text-2xl font-semibold underline">
      <%= link_to root_path do %>
        Splice Clone
      <% end %>
    </h1>
  </div>

  <div class="flex-1">
    <div id="user-pane" class="flex justify-end items-center gap-1">
      <% if user_signed_in? %>
        <%= link_to "User Log Out", destroy_user_session_path, method: :delete, data: { turbo_method: :delete }, class: "btn-danger" %>
        <%= link_to "Become an Artist", new_artist_registration_path, class: "btn-primary"%>
        <%#= link_to "Login as Artist", new_artist_session_path, class: "btn-secondary"%>
      <% else %>
        <%= link_to "Login as User", new_user_session_path, class: "btn-secondary" %>
        <%= link_to "Create Account", new_user_registration_path, class: "btn-primary" %>
      <% end %>
    </div>
  </div>
</nav>

<nav class="flex space-between p-2 items-center justify-end">
  <div class="flex gap-1">
    <% if !artist_signed_in? %>
      <%= link_to "Login as Artist", new_artist_session_path, class: "btn-secondary" %>
      <%= link_to "Become an Artist", new_artist_registration_path, class: "btn-primary" %>
    <% else %>
      <%= link_to "Log Out", destroy_artist_session_path, method: :delete, data: { turbo_method: :delete }, class: "btn-danger" %>
    <% end %>
  </div>
</nav>

<% if user_signed_in? %>
  <p>User: <%= current_user.email %></p>
<% elsif artist_signed_in?%>
  <p>Artist: <%= current_artist.email %></p>
<% else %>
<% end %>