<div id="<%= dom_id sample_pack %>">
  <p class="hidden">
    <strong>Artist:</strong>
    <%= sample_pack.artist_id %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= sample_pack.name %>
  </p>

  <div>
    <% if sample_pack.image.attached? && sample_pack.image.image? %>
      <%= image_tag(sample_pack.image, class: "w-48") %>
    <% end %>
  </div>

  <div>
    <% if sample_pack.samples.length > 0 %>
      <% sample_pack.samples.each do |s| %>
        <%= s.name %>
        <%= audio_tag(url_for(s.audio), controls: "") %>
      <% end %>
    <% end %>
  </div>
</div>
