<%= form_with(model: sample_pack, enctype: "multipart/form-data") do |form| %>
  <% if sample_pack.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(sample_pack.errors.count, "error") %> prohibited this sample_pack from being saved:</h2>
      <ul>
        <% sample_pack.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.hidden_field :user_id, value: current_user.id %>

  <div class="form-control w-full max-w-xs mb-4">
    <%= form.label :name, class: "label prose prose-gray" %>
    <%= form.text_field :name, required: true, placeholder: "Sample Pack Name", class: "input input-bordered w-full max-w-xs prose" %>
  </div>

  <div class="form-control w-full max-w-xs mb-4">
    <%= form.label "Cover", class: "label prose prose-gray" %>
    <%= form.file_field :image, class: "file-input file-input-sm w-full max-w-xs" %>
  </div>

  <div class="form-control w-full max-w-xs mb-4">
    <%= form.label "Pack Genre", class: "label prose prose-gray" %>
    <%= form.select :sample_pack_genre_names,
          options_for_select(
            SamplePackGenre.all.map { |genre| [genre.name, genre.name] },
            selected: sample_pack.genre_list
          ),
          { include_blank: false, limit: 3 },
          multiple: true %>
  </div>

  <div data-controller="audio-preview" class="mb-6">
    <%= form.fields_for :samples do |sample_form| %>
      <div class="mb-8">
        <%= sample_form.hidden_field :audio, value: sample_form.object.audio, data: { action: "change->audio-preview#getFileName" } %>
        <% SampleTag.all.each do |tag| %>
          <%= label_tag(tag.name) %>
          <input
            type="checkbox" <%= sample_form.object.tag_list.include?(tag.name) ? "checked" : nil %>
            name="sample_tags[<%= sample_form.object.name %>][]"
            value="<%= tag.name %>">
        <% end %>
        <%= audio_tag(url_for(sample_form.object.audio), controls: "") %>
        <div>
          <%= label_tag("Destroy") %>
          <%= sample_form.check_box :_destroy %>
        </div>
      </div>
    <% end %>
    <div id="audio-files-container">
    </div>
    <div class="form-control w-full max-w-xs mb-8">
      <%= label_tag("samples", "Add Samples", class: "label prose prose-gray")%>
      <%= file_field_tag("samples[]", required: current_page?(new_sample_pack_path), multiple: true, accept: "audio/wav, audio/mp3", data: { action: "change->audio-preview#getFileName" }, class: "file-input file-input-sm w-full max-w-xs") %>
    </div>
  </div>

  <div>
    <%= form.submit current_page?(new_sample_pack_path) ? "Create Pack" : "Edit Pack", class: "btn" %>
  </div>
<% end %>
