<%= form_with(model: sample_pack, enctype: "multipart/form-data") do |form| %>
  <% if sample_pack.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(sample_pack.errors.count, "error") %> prohibited this sample_pack from being saved:</h2>
      <ul>
        <% sample_pack.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.hidden_field :user_id, value: current_user.id %>

  <div class="form-control w-full max-w-xs mb-4">
    <%= form.label :name, class: "label prose prose-gray" %>
    <%= form.text_field :name, required: true, placeholder: "Sample Pack Name", class: "input input-bordered w-full max-w-xs prose" %>
  </div>

  <div class="form-control w-full max-w-xs mb-4">
    <%= form.label "Cover", class: "label prose prose-gray" %>
    <%= form.file_field :image, class: "file-input file-input-sm w-full max-w-xs" %>
  </div>

  <div data-controller="audio-preview" class="mb-6">
    <div class="field">
      <%= form.label :audio_files %>
      <input
        type="file"
        name="sample_pack[audio_files][]"
        multiple="multiple"
        accept="audio/wav, audio/mp3"
        data-action="change->audio-preview#change"
      />
    </div>

    <%= form.fields_for :samples do |sample_form| %>
      <div class="sample_fields">
        <div>
          <%= sample_form.label :name %>
          <%= sample_form.text_field :name %>
        </div>
        <div>
          <%= audio_tag(url_for(sample_form.object.audio), controls: "", class: "", id: "audio") %>
        </div>
      </div>
      <%= sample_form.check_box :_destroy %>
      <%= sample_form.label :_destroy, "Remove" %>
    <% end %>
    <div id="audio-files-container">
    </div>
  </div>

  <div>
    <%= form.submit current_page?(new_sample_pack_path) ? "Create Pack" : "Edit Pack", class: "btn" %>
  </div>
<% end %>
