<!DOCTYPE html>
<html data-theme="coffee">
  <head>
    <title>Sampl</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= display_meta_tags site: "Sampl" %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <% if notice %>
      <div class="bg-neutral-content p-2" id="notice">
        <p class="prose"><%= notice %></p>
      </div>
    <% elsif alert %>
      <div class="bg-warning p-2" id="alert">
        <p class="prose"><%= alert %></p>
      </div>
    <% end %>
    <%= render "shared/daisy_navbar"%>
    <main>
      <%= yield %>
    </main>
    <%= render "shared/footer" %>
  </body>
</html>
