<!DOCTYPE html>
<html data-theme="dark">
  <head>
    <title>Splice</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <% if notice %>
      <div class="bg-gray-300 p-2" id="notice">
        <p class="prose text-gray-800"><%= notice %></p>
      </div>
    <% elsif alert %>
      <div class="bg-yellow-300 p-2" id="alert">
        <p class="prose text-gray-800"><%= alert %></p>
      </div>
    <% end %>
    <%= render "shared/daisy_navbar"%>
    <main class="">
      <%= yield %>
    </main>
  </body>
</html>
